/* APP */

.customerReviewsWrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-areas:
    "a a a a a a a"
    "b c c c c c d";
  font-family: 'Poppins', sans-serif;
}
.customerReviewsAccordion {
  grid-area: a;
}
.customerReviews {
  grid-area: c;
}

.navBar {
  border: none;
  border-top: 1px solid rgb(205, 205, 177);
  padding: 20px 0;
  width: 100%;
  background-color: #f8f8f8;
  text-align: left;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  align-items: center;
  text-indent: 15%;
}
.openClose {
  float: right;
  padding-right: 15%;
}
.disclaimer {
  font-size: small;
  font-style: italic;
  margin: 12px 0 0 0;
}

.sortBy {
  display: flex;
  border: 1px solid silver;
  padding: 15px 0 15px 20px;
  width: 100%;
  text-align: left;
  margin: 10px 0;
  background-color: white;
}

/* MODAL */

.IssaPicture {
  max-width: 100px;
  max-height: 100px;
  margin: 0 5px;
  cursor: pointer;
  overflow: hidden;
}
.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0, 0, 0, 0.3);
  padding: 50px;
}
.modal {
  display: block;
  position: absolute;
  border-radius: 5px;
  max-width: 500px;
  min-height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modalBtn {
  border: solid white;
  background: white;
  padding: 8px 16px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}

/* REVIEW BAR */

.ratingBar {
  background-color: rgb(205, 205, 177);
  border-radius: 10px;
  width: 150px;
  margin: 0 20px 0 20px;
}
.ratingBar>div {
  background-color: rgb(255,237,0);
  height: 20px;
  border-radius: 10px 0 0 10px;
}

/* OVERALL RATING */

.gridWrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-bottom: 1px solid rgb(205, 205, 177);
}

.separator {
  border-right: 1px solid gray;
}
.overallTitle, .overallHead {
  margin: 0 0 20px 0;
  font-size: large;
}
.overallHead {
  margin: 0 0 10px 0;
}
.expBar {
  margin: 5px 20px 5px 20px;
}
.overall {
  margin: 0 0 20px 20px;
}

.overallStar, .reviewBar, .reviewStar, .testHeader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-content: space-between;
}
.overallStar {
  margin: 0 0 0 20px;
}
.reviewBar {
  margin: 0 50px 0 0;
}
.reviewStar {
  margin: 10px 50px 10px 0;
}

.writeReview {
  background-color: rgb(0, 81, 255);
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  float: right;
  cursor: pointer;
}

/* REVIEW */

.reviewWrapper {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 10px;
  border-bottom: 1px solid rgb(205, 205, 177);
  grid-template-areas:
    "a a a a a f b b"
    "c c c c c f b b"
    "e e e e e f d d";
}
.review {
  border-bottom: 1px solid rgb(205, 205, 177);
}
.reviewWrapper>div {
  padding: 0 0 10px 0;
}
.reviewText {
  grid-area: a;
  align-self: start;
  font-size: 16px;
}
.reviewRating {
  grid-area: b;
}
.pic {
  grid-area: c;
}
.helpful {
  grid-area: e;
  font-size: 14px;
  margin-bottom: 20px;
}
.helpful>div {
  margin-bottom: 10px;
}

.showMore {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  color: blue;
  font-weight: bold;
  cursor: pointer;
}

.spaceOut>div {
  margin: 15px 0 15px 0;
}
.side>div {
  margin: 0 0 20px 0;
}

.up, .down {
  cursor: pointer;
}

/* Stars */

.Stars {
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: 25px;
  background:white;
  margin: 0 10px 0 0;
}
.Stars::before {
  content: '★★★★★';
  background: linear-gradient(90deg, gold var(--percent), gray var(--percent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.SVGBricks {
  display: flex;
  width: auto;
  height: 25px;
}
.SVGBricks .brick {
  margin-right: 1px;
}

.brickWrapper, .sideWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "a b";
}
.brickWrapper {
  grid-template-columns: repeat(5, 1fr);
  margin-left: 20px;
}
.brick, .sideBrick {
  grid-area: a;
}
.expRating, .sideRating {
  grid-area: b;
  margin-left: 15px;
  align-self: center;
}
